* {
  margin: 0;
  padding: 0;
}
.container {
  max-width: 1440px;
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(4, 1fr);
}
.food img {
  width: 100%;
  border-radius: 5px;
  margin: 10px 0;
}
h3,
p,
button {
  margin: 5px 0;
}
button {
  padding: 17px 24px;
  border: 1px solid;
  font-weight: 600;
  font-size: 16px;
  background-color: transparent;
  border-radius: 5px;
}
button:hover {
  background-color: lightcyan;
  transition: all 0.5s;
  transform: scale(0.9);
  cursor: pointer;
}
p {
  text-align: justify;
}
.food {
  margin: 0 auto;
  max-width: 1000px;
  padding: 20px;
}

@media screen and (max-width: 576px) {
  .container {
    gap: 10px;
    grid-template-columns: repeat(1, 1fr);
  }
}
@media screen and (min-width: 576px) and (max-width: 976px) {
  .container {
    gap: 15px;
    grid-template-columns: repeat(2, 1fr);
  }
}
