* {
  margin: 0;
  padding: 0;
}
.row {
  height: 200px;
  width: 100%;
  display: flex;
  gap: 3px;
  margin-bottom: 3px;
}
.row img {
  height: 100%;
  width: 100%;
}
.row div {
  flex: 1;
}
.vertical-collage img {
  height: calc((100% - 5px) / 2);
}
.grid-collage {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 3px;
  grid-template-rows: repeat(2, 97.5px);
}

/* Responsive Styles */

@media screen and (max-width: 576px) {
  .row {
    flex-direction: column;
  }
  .row {
    height: auto;
  }
  .grid-collage {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
}
